node_modules

# Django
backend/db.sqlite3
backend/*.pyc
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
backend/.env
backend/media/
backend/static/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
